html, body {
    font-family: 'Miriam Libre', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    background-image: url("/images/utility/background.png");
    background-color: #cccccc;
    background-size:cover
    
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    z-index:1;
    color:whitesmoke;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.space {
    margin-bottom: 40px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index:0;
}
#main-link a:link, a:visited {
    color: whitesmoke;
}

#main-link a:hover, .links a:hover{
    color: hotpink;
}

#main-link a:active {
    color: blue;
}

.txt-center {
    text-align: center;
}
.hide {
display: none;
}

.clear {
float: none;
clear: both;
}

.rating {
    width: 45%;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
    transform:scale(2);
}

.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}

.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}

.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color:gold;
}

.boxy {
    background: rgba(128, 128, 128, 0.651);
    border:1px solid black;
    margin:auto;
    min-width: 80%;
    max-width: 80%;
    padding: 0;
    margin: 0;
}

.left { 	
 
}

.right {
   
}

.back-color {
    background-color: rgba(255, 255, 255, 0.589);
    top: 0;
    max-width: 80vw;
    min-width: 80vw;
    margin-top:0px;
    margin-left: 10vw;
    margin-right: 10vw;
    min-height: 90vh;
    margin-bottom: 10px
}

.image-line{
    padding: 10px;
}

.insert-table{
    border-collapse: collapse;
    background: rgba(128, 128, 128, 0.651);
    padding: 10px;
    margin:auto;
}

.insert-table td{
    border:1px solid black;
}
.insert-table tr{
    border:1px solid black;
    border:1px solid black;
    height: 50px;
    min-height: 240px;
    max-height: 240px;
}

.admin-table{
    border-collapse: collapse;
    background: rgba(128, 128, 128, 0.651);
    padding: 10px;
    margin:auto;
}

.admin-table th{
    border:1px solid black;
    font-size:15px;
}

.admin-table td{
    border:1px solid black;
    min-width: 200px;
    color:white;
}

.admin-table tr{
    border:1px solid black;
    border:1px solid black;
    height: 50px;
    min-height: 240px;
    max-height: 240px;
}

.field-type{
    padding-top:20px;
    font-size:20px;
    min-width: 220px;
    vertical-align: top 
}

.service-table {
    margin:auto;
    min-width: 80%;
}

.service-table tr{
    min-height: 240px;
    max-height: 240px;
}

.service-table td{
    padding:20px;
    min-width: 200px;
    max-width: 220px;
    vertical-align: top 
}

.table-link:link,
.table-link:visited,
.table-link:active,
.table-link:hover{
    color:blue;
}

.event-table{
    margin:auto;
    min-width: 80%;
    max-width: 80%;
    border: 1px solid black;
    background: rgba(128, 128, 128, 0.651);
}

.event-table h1{
    font-size:30px;
    font-weight: bold;
}

.event-table h3{
    font-size:20px;
}

.event-table a:link,
a:active, a:visited{
    color:blue;
}

.event-title {
    color:black;
    font-size:75px;
    font-weight: bold;
}

.event-info {
    color:black;
    font-size:30px;
}
